body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

header {
  height: 70px;
}

main {
  flex: 1;
}

.section-head {
  margin-bottom: 3rem;
}

.section-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border: 1px solid green;
  text-decoration: none;
  line-height: 1.5;
}

.card:hover h3 {
  color: green;
}

.card:hover .card-footer > i {
  transform: translate(5px);
  transition: transform 0.3s ease;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.card-description {
  flex: 1;
  font-size: 0.875rem;
  margin-bottom: 12px;
  line-clamp: 3;
  box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 16px;
  color: #d5dfe9;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: lab(61.18% -3.56 -12.94);
}

.date {
  display: flex;
    align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (max-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}


/* light mode */
body.light-mode .card-description {
    color: #41566c;
}

body.light-mode .card:hover .card-title {
    color: green;
}


body.light-mode .card-title {
    color: black;
}
