@media screen and (max-width: 1281px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .hero {
    padding-top: 50px;
  }
  .hero img {
    width: 300px;
    height: 300px;
  }
  header {
    height: 83vh;
  }
  .about_me_container {
    flex-wrap: wrap;
  }

  .skill_group_card {
    height: auto;
    flex: 1;
    min-height: 652px;
    width: 100%;
    /* max-width: none; */
  }
  .skill_info {
    min-width: 0;
  }
}

@media screen and (max-width: 913px) {
  header{
    height: 60vh;
  }

  .hero{
    padding-top: 170px;
  }

  .skill_group_card {
    min-height: 680px;
  }
footer{
    height: 15vh;
  }
}


@media screen and (max-width: 600px) {
  header {
    height: 80vh;
    padding-bottom: 50px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    padding-top: 50px;
  }
  .hero img {
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0, 128, 0, 0.499);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }

  .intro h2,
  p {
    text-align: center;
  }
  .about_me_container {
    flex-direction: column;
    padding-top: 50px;
  }
  .about_me_details_container {
    width: 100%;
  }
  .skill_container {
    padding-top: 50px;
  }
  .about_me_details {
    flex: 1;
    width: 100%;
  }
  .about_me_text {
    font-size: 1rem;
    padding: 0;
  }

  .skill_container {
    flex-direction: column;
    align-items: center;
  }

  .contact_form {
    padding-top: 50px;
  }

  .skill_group_card {
    width: 100%;
    height: auto;
  }
  .skill_info {
    min-width: 0;
  }
  #message {
    min-height: 150px;
  }

  #footer {
    height: 30vh;
  }
  .fa_icons {
    margin-right: 20px;
  }
  .footer_details {
    gap: 20px;
  }
}
@media screen and (max-width: 431px) {
  .about_me_img {
    width: 200px;
    height: 300px;
  }
  .hero {
    padding-top: 70px;
  }
  header {
    height: 83vh;
    
  }
  .about_me_details_container {
    width: 100%;
    gap: 10px;
  }
  .about_me_card {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .about_me_details {
    width: fit-content;
    min-width: 142px;
    min-height: 192px;
  }
  .skill_container {
    margin: 0;
  }
  .footer_details p {
    font-size: 0.9rem;
  }
}
.skill_group_card{
  padding: 1rem;
  min-height: auto;
}
@media screen and (max-width: 401px) {
  .skill_info {
    min-width: 100px;
    font-size: 0.8rem;
  }
  .skill_info img {
    width: 40px;
    height: 40px;
  }
}
