@media screen and (max-width: 1281px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #363636;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  .hero img {
    width: 300px;
    height: 300px;
  }

  .about_me_container {
    flex-wrap: wrap;
  }

  .skill_info{
    flex-basis: auto;
  }
}

@media screen and (max-width: 913px) {
  
  footer {
    height: 15vh;
  }

  .skill_container{
    flex-direction: column;
    margin: 0;
  }
  .skill_group_card{
    width: 100%;
    max-width: none;
    min-height: auto;
   
  }
}

@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
  }
  .hero img {
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0, 128, 0, 0.499);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }

  .intro h2, .intro
  p {
    text-align: center;
  }
  .about_me_container {
    flex-direction: column;
    padding-top: 50px;
  }
  .about_me_details_container {
    width: 100%;
  }
  
  .about_me_details {
    flex: 1;
    width: 100%;
  }
  .about_me_text {
    font-size: 1rem;
    padding: 0;
  }

  

  .contact_form {
    padding-top: 50px;
  }

  #message {
    min-height: 150px;
  }

  #footer {
    height: 30vh;
  }
  .fa_icons {
    margin-right: 20px;
  }
  .footer_details {
    gap: 20px;
  }
  .grid-container {
    grid-template-columns: none;
    margin: 0;
    padding: 0;
  }

.footer_details p{
  font-size: 0.75rem;
}
@media screen and (max-width: 431px) {
  .about_me_img {
    width: 200px;
    height: 300px;
  }

  .about_me_details_container {
    width: 100%;
    gap: 10px;
  }
  .about_me_card {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .about_me_details {
    width: fit-content;
    min-width: 142px;
    min-height: 192px;
  }
 
}
}