@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }

  .hero img {
    width: 300px;
    height: 300px;
  }


}
@media screen and (max-width: 600px) {
  header {
    height: 83vh;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: auto;
    padding: 20px;
  }
  .hero img {
    width: 200px;
    height: 200px;
    border: 5px solid rgba(0, 128, 0, 0.499);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  }

  .intro h2, p{
    text-align: center;
  }
  .about_me_container{
    flex-direction: column;
    padding-top: 50px;
  }
  .about_me_details_container{
    width: 100%;;
  }
  .about_me_details{
    flex: 1;
    width: 100%;
  }
  .about_me_text{
    font-size: 1rem;
    padding: 0 ;
  }
  
  .skill_container{
    flex-direction: column;
    align-items: center;
  } 

  .skill_group_card{
    width: 100%;
    height: auto;
  }
  .skill_info{
    min-width: 0;
  }
#message{
  min-height: 150px;
}

#footer{
  height: 30vh;
}
.fa_icons{
  margin-right: 20px;
}
.footer_details{
  gap: 20px;
}
}
