* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #212121;
  color: aliceblue;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.navbar-links a,
.navbar-links li,
.logo a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
  font-size: 1rem;
}
.navbar-links a.active {
  border-bottom: 4px solid green;
  padding-bottom: 4px;
  font-weight: bold;
}
.navbar-links a:hover {
  border-bottom: 4px solid green;
  padding-bottom: 4px;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}
header {
  background-color: #363636;
  height: 70vh;
  padding-top: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #363636;
  height: 70px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.navbar-links {
  display: flex;
  gap: 15px;
}
.logo {
  display: flex;
  gap: 5px;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 100px;
}
.hero img {
  width: 400px;
  height: 400px;
  border: 10px solid rgba(0, 128, 0, 0.499);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
  object-position: 50% 50%;
  border-radius: 50%;
  object-fit: cover;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 24px;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  color: white;
  background-color: transparent;
  border: 2px solid green;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}

.btn-primary:hover {
  background-color: green;
  color: #121212;
}
.btn-secondary {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.btn-secondary:hover {
  background-color: white;
  color: #121212;
}
.section-container {
  text-align: left;
  padding: 40px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 50vh;
}
.about p{
 font-size: 2rem;
 padding: 0  70px;
 text-align: justify;
 margin-top: 20px;
}

.section-head {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-head::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: green;
  margin-top: 8px;
  transition: width 0.4s ease;
}
.section-head:hover::after {
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.intro {
  line-height: 1.7;
}
