* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #212121;
  color: aliceblue;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
.navbar-links a,
.navbar-links li,
.logo a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
  font-size: 1rem;
}
.navbar-links a.active {
  border-bottom: 4px solid green;
  padding-bottom: 4px;
  font-weight: bold;
}
.navbar-links a:hover {
  border-bottom: 4px solid green;
  padding-bottom: 4px;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}
header {
  background-color: #363636;
  height: auto;
  
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   height: 70px;
  padding: 1.5rem;
}

nav.sticky{
position: fixed;
  top: 0;
  width: 100%;
  background-color: #363636;
 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.navbar-links {
  display: flex;
  gap: 15px;
}
.logo {
  display: flex;
  gap: 5px;
}

/* hamburger menu */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  cursor: pointer;
  width: 30px;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;

  right: 0;
  background-color: #363636;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links a:hover {
  border-bottom: 4px solid green;
  padding-bottom: 4px;
  font-weight: bold;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
  margin-bottom: 20px;
}

.menu-links.open {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  width: 200px;

  right: -25px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
}

.hamburger-icon span:last-child {
  transform: none;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
   padding: 150px 0 100px 0 ;
}

.hero img {
  width: 400px;
  height: 400px;
  border: 10px solid rgba(0, 128, 0, 0.499);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
  object-position: 50% 50%;
  border-radius: 50%;
  object-fit: cover;
}
.btn {
  display: inline-block;
  text-decoration: none;
  padding: 10px 24px;
  margin-top: 50px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  color: white;
  background-color: transparent;
  border: 2px solid green;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.502);
}

.btn-primary:hover {
  background-color: green;
  color: #121212;
}
.btn-secondary {
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.btn-secondary:hover {
  background-color: white;
  color: #121212;
}
.section-container {
  text-align: left;
  padding: 40px;
  min-height: fit-content;
  box-sizing: border-box;
}
.about_me_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 100px;
}

.about_me_img {
  height: 500px;
  width: 400px;
  border-radius: 5px;
}
.about_me_img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border: 10px solid rgba(0, 128, 0, 0.499);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}
.about_me_card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  gap: 20px;
  line-height: 1.3;
  max-width: 900px;
  align-self: flex-start;
  align-items: center;
}
.about_me_text {
  font-size: 1.2rem;
  padding: 0 30px;
  text-align: justify;
  line-height: 1.6;
}

.about_me_details_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.about_me_details {
  border: 2px solid rgba(0, 128, 0, 0.499);
  border-radius: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.section-head {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-head::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #008000;
  margin-top: 8px;
  transition: width 0.4s ease;
}
.section-head:hover::after {
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.intro {
  line-height: 1.7;
}

.icon {
  height: 2rem;
}

/* SKILL SECTION */

.skill_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding-top: 100px;
  margin: 0 40px;
}

.skill_group_card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1.5rem;
  border-radius: 8px;
  width: 900px;
  min-height: 652px;
  max-width: 700px;
  align-self: flex-start;
  border: 2px solid rgba(0, 128, 0, 0.499);
  box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
}

.skill_subtitle {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(0, 128, 0, 0.8);
}

.skill_lists {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.skill_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-basis: 200px;
}

.info {
  text-align: center;
}
/* Footer */

footer {
  height: 100px;
  background-color: #363636;
}

.footer_details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.fa_icons {
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
}
.fa_icons:hover {
  color: green;
  transition: color 0.3s ease;
}

/* Contact Form */

.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 600px;
}

.contact_form label {
  font-size: 1.2rem;
  font-weight: bold;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 1rem;
  font-family: inherit;
}

.contact_form input:focus,
.contact_form textarea:focus {
  outline: 2px solid rgba(0, 128, 0, 0.499);
  border-color: rgba(0, 128, 0, 0.499);
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

#message {
  min-height: 300px;
}

.contact_form_submit {
  padding: 10px 20px;
  background-color: rgba(0, 128, 0, 0.499);
  color: white;
  width: 150px;
  font-size: 1.2rem;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact_form_submit:hover {
  background-color: green;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
  transition: all 0.3s ease;
}

/* Project section */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-auto-flow: row;
  gap: 30px;
   padding-top: 100px;
  margin: 0 40px;
}
.container {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  border-radius: 8px;
  /* box-shadow: 8px 6px 15px 1px rgb(50 144 41); */
  font-family: sans-serif;
  overflow-y: hidden;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 8px 6px 25px 5px rgb(50 144 41);
  transform: scale(1.03);
}

.project_img {
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.project_img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project_status {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  font-size: 0.75rem;
}

.stack_type,
.project_progress {
  background-color: lab(46.23% -51.7 49.9 / 0.57);
  padding: 0.125rem 0.625rem;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  tab-size: 4;
}

.container:hover .stack_type {
  background-color: lab(46.23% -51.7 49.9) !important;
}

.project_progress {
  background-color: rgba(137, 137, 4, 0.433) !important;
  color: brown;
}

.project_title {
  padding: 0.5rem 0;
  font-weight: 700;
  font-family: sans-serif;
}

.container:hover .project_title {
  color: green;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1.5rem;
}

.project_stack {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0.5rem 0;
}

.project_stack p {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  border: 0.2px solid gray;
}

.project_display {
  display: flex;
  gap: 10px;
  padding-top: 0.5rem;
}

.project_display a:first-child {
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  flex: 1 1 80%;
  padding: 0.5rem 1rem;
}
.project_display a {
  border-radius: 4px;
  text-decoration: none;
  color: #ccc;
  border: 0.2px solid gray;
  min-height: max-content;
}
.github_icon {
  height: 2rem;
  width: 2rem;
}

.github_icon img {
  height: 100%;
  object-fit: contain;
  padding: 3px;
}
